# Директория сборки
build/

# Файлы объектного кода
*.o
*.obj

# Исполняемые файлы
*.exe
*.out
*.app

# Динамические библиотеки
*.dll
*.so
*.dylib

# Файлы отладки
*.pdb
*.ilk

# Файлы настроек IDE
.idea/
.vscode/
